html {
	min-height: 100%;
}
body {
	min-height: 100%;
	padding: 0;
	margin: 0;
	background-image: linear-gradient(
		to right bottom,
		#a9ff31 0,
		#b2ff2c 8.33%,
		#b2ff2e 16.67%,
		#bcff36 25%,
		#acff40 33.33%,
		#b0ff4a 41.67%,
		#89f253 50%,
		#60e35b 58.33%,
		#2cd563 66.67%,
		#00c96c 75%,
		#00c075 83.33%,
		#00b87f 91.67%,
		#00b289 100%
	);
}
.calosc {
	justify-content: center;
	text-align: center;
}
h1 {
	font-family: sans-serif;
	font-size: 40px;
	font-weight: 500;
	justify-content: center;
	text-align: center;
	display: flex;
	align-items: center;
}
h2 {
	justify-content: left;
	text-align: left;
	margin-left: 20px;
	cursor: pointer;
	color: #0f55c5;
}
img {
	width: 102px;
	height: 102px;
	cursor: pointer;
	margin: 0;
	padding: 0;
}
.wszystkieZdjecia {
	width: auto;
	height: 102px;
	margin: 0;
	padding: 0;
}
.pokazane {
	width: 511.1px;
	height: 511.1px;
	cursor: auto;
	margin: 0;
	border: 2px solid black;
}
#zdjecie {
	height: 511.1px;
}
button {
	width: 257px;
	height: 50px;
	border: 1px solid black;
}
button:hover,
button:focus {
	background-color: rgb(193, 191, 191);
}
#nastepne {
	margin-left: -5px;
}
p {
	font-family: sans-serif;
	font-size: 23px;
	font-weight: 500;
	color: black;
	width: 511.1px;
	height: 35px;
	background-color: white;
	margin: auto;
	justify-content: center;
	text-align: center;
	display: flex;
	align-items: center;
	border: 1px solid black;
}
